body {
  background-color: #0e012e;
}

@font-face {
  font-family: 'Limelight';
  src: local('Limelight'), url(./Fonts/Limelight.ttf) format('truetype');
}

.title {
  font-size: 80px;
  font-family: 'Limelight';
  text-align: center;
  color: red;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #f2ff82, 0 0 20px #f2ff82, 0 0 30px #f2ff82;
  }
  to {
    text-shadow: 0 0 20px #f2ff82, 0 0 30px #f2ff82, 0 0 40px #f2ff82;
  }
}

.greeting{
  color: white;
}

.searchbar{
  margin-left: 30%;
  margin-right: 30%;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.flex-card{
  max-width: 300px;
  height: 100%;
  align-items: center;
}

.content{
  margin-bottom: 10px;
}

.nominated-title{
  float: left;

  color: white;
}

.list-div{
  display: flex;
}

.list{
  flex-grow: 1;
  flex-wrap: nowrap;
  text-align: center;
  color: white; 
  margin: 20px;
}

.nominate-button{
  float: right;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;

}
.nominate-button:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.nominate-button:active {
	position:relative;
	top:1px;
}
.disabled-button {
  float: right;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}